@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(169, 169, 169, .4);
    }
    70% {
        box-shadow: 0 0 0 15px rgba(169, 169, 169, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(169, 169, 169, 0);
    }
}
html {
    font-size: 62.5%; /* 1rem = 10px */
}
body {
    background-color: #061239;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
nav {
    background-color: aliceblue;
    border-radius: 1rem 1rem 3rem 3rem;
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem 3.5rem;
    position: relative;
}
nav:after {
    content: '';
    position: absolute;
    width: 15rem;
    height: .4rem;
    bottom: .9rem;
    background-color: rgba(169, 169, 169, .25);
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: .2rem;
}
nav a {
    width: 4rem;
    height: 4rem;
    margin: 0 1.5rem;
    border-radius: 50%;
    position: relative;
}
nav a:focus {
    box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
    animation: pulse .5s linear;
}
nav a .player {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4rem;
    height: 4rem;
    transition: 1s width, height ease-in-out;
}
nav a.active .player {
    width: 6rem;
    height: 6rem;
}
